.text-center {
    text-align: center;
}

.small {
    font-size: 80%;
}

.text-danger {
    color: $danger;
}

.text-shadow {
    color: lighten($dark, 50);
}

.d-none {
    display: none;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

@function text-color($color) {
    @if (lightness($color) > 60) {
        @return $dark;
    } @else {
        @return $light;
    }
}

@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
};
