<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Clicker</title>

    <link rel="stylesheet" href="{{ base_url() }}/dist/css/auth.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Indie+Flower|Lato|Noto+Sans|Open+Sans|Passion+One|Roboto|Roboto+Condensed|Russo+One|Skranji|Source+Sans+Pro" rel="stylesheet">
</head>
<body>

    {% block content %}{% endblock content %}
    
</body>
</html>