<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Plemiona</title>

    <link rel="stylesheet" href="{{ base_url() }}/dist/css/auth.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/normal-font.min.css">
</head>
<body>

    {% block content %}{% endblock content %}
    
</body>
</html>