<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="village_id" content="{{ village.id }}">
    <title>{% block title %}{% endblock title %} | Plemiona</title>

    <link rel="stylesheet" href="{{ base_url() }}/dist/css/game.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Indie+Flower|Lato|Noto+Sans|Open+Sans|Passion+One|Roboto|Roboto+Condensed|Russo+One|Skranji|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Roboto+Mono" rel="stylesheet">
</head>
<body>


    <main>
        <div class="game-container">
            <div class="content">
                <div class="container mt-5">
                    {% block content %}{% endblock content %}
                </div>
            </div>
            
            {% include "layouts/partials/sidebar.twig" %}
        </div>
    </main>

    <script src="{{ base_url() }}/dist/js/village.min.js"></script>
</body>
</html>