.alert {
    padding: 1rem;
}

@each $name, $color in $colors {
    .alert-#{$name} {
        background-color: rgba($color, .8);
        color: text-color($color);
        border: 1px solid $color;

        &:hover {
            background-color: lighten($color, 10);
        }
    }
};
