.sidebar {
    width: 300px;
    height: 100vh;
    overflow: auto;
    background-color: rgba(darken($main, 10), .5);
    font-size: 120%;
    box-shadow: -1px 0 1px 0 rgba($dark, .3);
    display: flex;
    flex-direction: column;
    justify-content: start;

    .map {
        margin-top: auto;
        padding: 1rem;
        text-align: center;
        background-color: darken($main, 8);
        box-shadow: 0 -1px 1px 1px rgba($dark, .5);

        &:hover {
            text-decoration: none;
        }
    }

    .header {
        display: block;
        color: $light;
        text-decoration: none;
        
        padding: 1rem;
        text-align: center;
        font-size: 120%;
        background-color: darken($main, 8);
        box-shadow: 0 1px 1px 1px rgba($dark, .5);
    }

    .section {
        margin-bottom: 2rem;
        background-color: lighten($main, 0);

        &:first-of-type {
            margin-top: 2rem;
        }
        
        ul.properties {
            list-style-type: none;
            padding: 1rem;
            margin: 0;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .5rem;

                &:last-item {
                    margin-bottom: 0;
                }
            }
        }

        &.timings {
            .timing {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: .5rem 1rem;

                &:first-of-type {
                    padding-top: 1rem;
                }

                &:last-of-type {
                    padding-bottom: 1rem;
                }

                .destination {
                    color: darken($secondary, 5);
                }
            }
        }
    }
}