.table {
    width: 100%;
    background-color: lighten($main, 4);
    font-size: 120%;
    text-align: left;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    box-shadow: 0 1px 1px 1px rgba($dark, .3);

    tr {
        td, th {
            padding: .5rem 1rem;
        }

        &:first-of-type {
            td {
                padding-top: 1rem;
            }
        }

        &:last-of-type {
            td {
                padding-bottom: 1rem;
            }
        }

        &.header {
            background-color: darken($main, 2);

            th {
                padding: 1rem;
            }
        }

        td {
            vertical-align: baseline;

            a {
                color: $light;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    input {
        border: none;
        background-color: rgba(lighten($main, 10), .5);
        padding: .5rem;
        color: $light;
        border-radius: 4px;
        box-shadow: 0 0 1px 1px rgba($dark, .3);
    }
}