<div class="sidebar">
    <div class="header">{{ village.name }}</div>
    <div class="section">
        <ul class="properties">
            <li>
                <div>gold</div>
                <div id="gold">{{ village.gold }}</div>
            </li>
            <li>
                <div>food</div>
                <div id="food">{{ village.food }}</div>
            </li>
        </ul>
    </div>

    <div class="section">
        <div class="timings">
            <div class="object">
                <div class="name">Twierdza</div>
                <div class="time">10s</div>
            </div>
        </div>
        <div class="timings">
            <div class="object">
                <div class="name">Koszary</div>
                <div class="time">10s</div>
            </div>
        </div>
        <div class="timings">
            <div class="object">
                <div class="name">Kopalnia złota</div>
                <div class="time">10s</div>
            </div>
        </div>
    </div>
</div>