/* colors */

$main: #112c42;
$secondary: lighten($main, 25);
$light: #fefefe;
$dark: #000;

$danger: #ca463d;
$pink: #e91e63;
$green: green;

$colors: (
    ('gray', gray),
    ('yellow', yellow),
    ('primary', $main),
    ('secondary', $secondary),
    ('success', $green),
    ('danger', $danger),
    ('default', $light),
);